{% extends "_layouts/cp.twig" %}
{% import "_includes/forms" as form %}
{% set title = "Printful - Recent Orders" %}

{% block sidebar %}
    {% include "craft-printful-api/sidenav.twig" %}
{% endblock %}

{% block actionButton %}
    {{ form.button({
        'label': 'Commerce Orders',
        'attributes': {
            'type': 'button',
            'class': ['btn'],
            'onclick': "window.location.href='/admin/commerce/orders'"
        }
    }) }}
{% endblock %}

{% block content %}
    <h2>Orders from Printful</h2>
    <p>
        We are currently working on a way of importing all the Orders from your Printful account into this page. This
        will allow you to see what orders are currently on your Printful account and the current status of that order.
        In the meantime, please use the Craft Commerce order page for your customers orders.
    </p>
{% endblock %}