<h2>Average Fulfillment Time Report ({{ results.post.currency }})</h2>
<p><strong>Value:</strong> {{ results.data.value }}</p>
<p><strong>Relative Difference:</strong> {{ results.data.relative_difference }}</p>